@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.progress-container {
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  padding: auto;
  margin: 25 0 0 0;
}

.progress {
  height: 20px;
  border-radius: 10px;
  background-color: #af4c4c;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
}

